* {
	margin: 0 auto;
	box-sizing: border-box;
}

body {
	background-color: #E6E6FA;
}

.main {
	width: 100%;
}

.content {
	width: 960px;
}

.table {
	width: 960px;
	height: 400px;
	background-color: #009434;
	margin-top: 20px;
	border: 25px solid #7B421F;
	border-radius: 20px;
}

.hole1 {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #030002;
	box-shadow: -3px -3px 7px #B35F2B;
	top: -13px;
	left: -450px;
}

.hole2 {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #030002;
	box-shadow: 0 -3px 7px #B35F2B;
	top: -38px;
}


.hole3 {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #030002;
	box-shadow: 3px -3px 7px #B35F2B;
	top: -60px;
	right: -450px;
}


.hole4 {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #030002;
	box-shadow: 3px 3px 7px #B35F2B;
	top: 265px;
	right: -454px;
}


.hole5 {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #030002;
	box-shadow: 0 3px 7px #B35F2B;
	top: 240px;
}


.hole6 {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #030002;
	box-shadow: -3px 3px 7px #B35F2B;
	top: 215px;
	left: -454px;
}

.sharik1 {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: radial-gradient(#C5B0B9, #9B4D49, #9B2E27);
	left: -150px;
	top: 100px;
	animation-name: sharik1;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.sharik2 {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: radial-gradient(#F1DFB7, #D98E31, #C5772C);
	left: 70px;
	top: -90px;
	animation-name: sharik2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}


.sharik3 {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: radial-gradient(#B3DDFF, #3759C5, #1D268B);
	left: -180px;
	top: -70px;
	animation-name: sharik3;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.stick {
	position: relative;
	height: 340px;
	width: 10px;
	background-image: linear-gradient(#FFDB69, #202022);
	border-radius: 60% 60% 7px 7px;
	left: -370px;
	animation-name: stick;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.edge {
	width: 5px;
	height: 3px;
	background-color: #000000;
}

@keyframes stick {
	0% {
		left: -370px;
	}
	25% {
		transform: rotate(50deg);
		bottom: -40px;
		left: -345px;
	}
	30% {
		transform: rotate(50deg);
		bottom: 18px;
		left: -290px;
	}
	50% {
		transform: rotate(-55deg);
		left: 200px;
	}
	60% {
		transform: rotate(-50deg);
		bottom: -40px;
		left: 200px;
	}
	70% {
		transform: rotate(-50deg);
		bottom: 130px;
		left: -45px;
	}
	100% {
		transform: rotate(0deg);
		left: -370px;
	}
}

@keyframes sharik1 {
	0% {
		left: -150px;
		top: 100px;
	}
	28% {
		left: -150px;
		top: 100px;
	}
	40% {
		left: 48px;
		top: -55px;
	}
	50% {
		left: 0;
		top: -163px;
		transform: scale(1, 1);
	}
	51% {
		transform: scale(0.7, 0.7);
	}

	99% {
		left: 0;
		top: -163px;
		transform: scale(0.7, 0.7);
	}

	100% {
		left: -150;
		top: 100px;
	}

}

@keyframes sharik2 {
	0% {
		left: 70px;
		top: -90px;
	}
	38% {
		left: 70px;
		top: -90px;
	}
	50% {
		left: 140px;
		top: -175px;
	}

	75% {
		left: 455px;
		top: 165px;
		transform: scale(1, 1);
	}
	76% {
		transform: scale(0.7, 0.7);
	}
	99% {
		left: 455px;
		top: 165px;
		transform: scale(0.7, 0.7);
	}
	100% {
		left: 70px;
		top: -90px;
	}
}

@keyframes sharik3 {
	0% {
		left: -180px;
		top: -70px;
	}
	68% {
		left: -180px;
		top: -70px;
	}
	80% {
		left: -300px;
		top: -195px;
	}
	92% {
		left: -455px;
		top: 142px;
		transform: scale(1, 1);
	}
	93% {
		transform: scale(0.7, 0.7);
	}
	99% {
		left: -455px;
		top: 142px;
		transform: scale(0.7, 0.7);
	}
	100% {
		left: -180px;
		top: -70px;
	}
}

